[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[user]
	name = M-o-liver
	email = 121729926+M-o-liver@users.noreply.github.com

[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true        ; n / N to jump between diff hunks
	line-numbers = true
	hyperlinks = true
	syntax-theme = Catppuccin Mocha
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
