window {
    background-color: #2e3440;
    color: #eceff4;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border: 2px solid #88c0d0;
    border-radius: 10px;
}

#input {
    background-color: #3b4252;
    color: #eceff4;
    border: none;
    border-radius: 6px;
    margin: 8px;
    padding: 6px;
}

#entry {
    padding: 6px;
    border-radius: 6px;
}

#entry:selected {
    background-color: #88c0d0;
    color: #2e3440;
}

#text:selected {
    color: #2e3440;
}
