window {
    background-color: #1a1625;
    color: #e0def4;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border: 2px solid #a78bfa;
    border-radius: 10px;
}

#input {
    background-color: #211d2e;
    color: #e0def4;
    border: none;
    border-radius: 6px;
    margin: 8px;
    padding: 6px;
}

#entry {
    padding: 6px;
    border-radius: 6px;
}

#entry:selected {
    background-color: #a78bfa;
    color: #1a1625;
}

#text:selected {
    color: #1a1625;
}
